<!doctype html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <!-- <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Login</h2>
      </div> -->
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="d-flex">
            <div class="w-100">
              <h3 class="mb-4">Sign In</h3>
            </div>
            <div class="w-100">
              <p class="social-media d-flex justify-content-end">
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
              </p>
            </div>
          </div>
          <form action="#" class="login-form" autocomplete="off">
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="showError">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <div data-testid="errMsg">{{errorMessage}}</div>
            </div>
            <div class="form-group">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
              <input name="identifier" type="text" data-testid="login" [(ngModel)]="identifier" required="required"
                     class="form-control rounded-left"
                     placeholder="Enter email" autocompleteOff>

            </div>

            <div class="form-group" *ngIf="show">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
              <input name="secret" type="password" data-testid="password" [(ngModel)]="secret" required="required"
                     class="form-control rounded-left"
                  placeholder="Password" autocompleteOff>
            </div>
            <div class="form-group d-flex align-items-center">
              <div class="w-100">
                <label class="checkbox-wrap checkbox-primary mb-0">Save Password
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-100 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary rounded submit" (click)="login()">Login</button>
              </div>
            </div>
            <div class="form-group mt-4">
              <div class="w-100 text-center">
                <p class="mb-1">Don't have an account? <a href="#">Sign Up</a></p>
                <p><a href="#">Forgot Password</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
-->

</body>
</html>

